.entry {
    list-style-type: none;
    border: 2px solid #383b4f;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.entry:hover {
    background-color: lightgray;
    cursor: pointer;
}