.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    height: 50vh;
    width: 100vw;
    background-color: #ff0000;
}

.top::after {
    content: '';
    height: 20px;
    width: 100vw;
    background-color: #383b4f;
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
}

.bottom {
    height: 50vh;
    width: 100vw;
    background-color: #ff0000;
}

.pokeball {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border: 20px solid #383b4f;
    border-radius: 50%;
    background-image: linear-gradient(#f51939 125px, white 125px);
    position: absolute;
}

.pokeball::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 250px;
    background-color: #383b4f;
}

.button {
    z-index: 1;
    height: 90px;
    width: 90px;
    background-image: radial-gradient(
        #ffffff 0px,
        #ffffff 10px,
        #383b4f 10px,
        #383b4f 15px,
        #ffffff 15px,
        #ffffff 32px,
        #383b4f 32px
    );
    border-radius: 50%;
    border: 0;
}

.button:hover {
    cursor: pointer;
    background-image: radial-gradient(
        #e6e6e6 0px,
        #2f3242 10px,
        #2f3242 15px,
        #e6e6e6 15px,
        #e6e6e6 32px,
        #2f3242 32px
    );
}
