.pokeball {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border: 20px solid #383b4f;
    border-radius: 50%;
    background-image: linear-gradient(#f51939 125px, white 125px);
    position: absolute;
    z-index: 1;
}

.pokeball::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 250px;
    background-color: #383b4f;
}

.button {
    z-index: 1;
    height: 90px;
    width: 90px;
    background-image: radial-gradient(
        #ffffff 0px,
        #ffffff 10px,
        #383b4f 10px,
        #383b4f 15px,
        #ffffff 15px,
        #ffffff 32px,
        #383b4f 32px
    );
    border-radius: 50%;
    border: 0;
}

.button:hover {
    cursor: pointer;
    background-image: radial-gradient(
        #e6e6e6 0px,
        #2f3242 10px,
        #2f3242 15px,
        #e6e6e6 15px,
        #e6e6e6 32px,
        #2f3242 32px
    );
}

.clicked {
    animation: clicked 600ms ease-out forwards;
}

.spinning {
    animation: spinning 1200ms ease-in forwards;
}

@keyframes clicked {
    0% {
    }

    33% {
        transform: scale(0.75, 0.75);
        background-image: radial-gradient(
            #2f3242 0px,
            #2f3242 10px,
            #2f3242 15px,
            #e6e6e6 15px,
            #e6e6e6 32px,
            #2f3242 32px
        );
    }

    66% {
        transform: scale(1.25, 1.25);
        background-image: radial-gradient(
            #ffffff 0px,
            #ffffff 10px,
            #383b4f 10px,
            #383b4f 15px,
            #ffffff 15px,
            #ffffff 32px,
            #383b4f 32px
        );
    }

    100% {
        transform: scale (1, 1);
        pointer-events: none;
        background-image: radial-gradient(
            #ffffff 0px,
            #ffffff 10px,
            #383b4f 10px,
            #383b4f 15px,
            #ffffff 15px,
            #ffffff 32px,
            #383b4f 32px
        );
    }
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
}
